.wrapper{
    position: absolute;
    top:0;
    height:100%;
    width:100%;
    overflow: hidden;
}

.bgimg{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    object-fit: cover;

    z-index: -1000;
}
.overlay{
    position: absolute;
    display: block;
    top:0;
    left:0;
    height: 100%; 
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.61);
    color: white;
    justify-content: center;
    align-content: center;
    z-index: -999;
}
h1 {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-size: 40px;
    text-shadow: 2px 2px rgba(76, 0, 0, 0.75);
}


.kenburns-top {
    -webkit-animation: kenburns-top 10s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite alternate both;
    animation: kenburns-top 10s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite alternate both;
}


@-webkit-keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }
    100% {
        -webkit-transform: scale(1.25) translateY(-15px);
        transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}
@keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }
    100% {
        -webkit-transform: scale(1.25) translateY(-15px);
        transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}
